@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    color: #F6D393;
    box-sizing: border-box;
}


main {
    font-size: 40px;
}

.topptekst {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    color: #F5BCCA;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    color: #E9585D;
    font-size: 240px;
    margin: 100px auto 0px 70px;
}

.Link-logo {
    text-decoration: none;
    color: #E9585D;
}

.underlogo {
    font-size: 60px;
    margin: 0px auto 0px 70px
}


main .menu {
    color: #E9585D;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: underline;
    margin: 45px 70px 45px 70px;
    
}


.Link-meny {
    color: #E9585D;
    text-decoration: none;
    transition: 0.2s;
}

.Link-meny:hover {
    color: #F5BCCA;
    text-decoration: none;
}




h3 {
    font-size: 50px;
    color: #E9585D;
    padding: 0px;
    margin-bottom: 20px;
}

.seksjon {
    margin: 100px 70px;
}

.img-barbie {
    height: 500px;
    display: block;
    margin: 45px auto 100px auto;
}

.bunntekst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    color: #F5BCCA;
    background-color: black;
    bottom: 0;
    position: fixed;
    padding: 20px;
    width: 100%;
}

.mail {
    text-decoration: none;
    text-decoration: underline;
    color: #F5BCCA;
    transition: 00.2s;
}

.mail:hover {
    color: #E9585D;
}

.ticketmaster {
    text-decoration: none;
    color: #F5BCCA;
    text-decoration: underline;
    transition: 00.2s;
}

.ticketmaster:hover {
    color: #E9585D;
}

.instagram {
    text-decoration: none;
    color: #F5BCCA;
    text-decoration: underline;
    transition: 00.2s;
}

.instagram:hover {
    color: #E9585D;
}